@model CalculatorData
@{
    Layout = "_Layout";
}

<h2>CalculatorResult</h2>
<div class="container">
    <div class="row">
        <div>
            <h1>Operation : @Model.Operation</h1>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>First Data : @Model.A</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <h2>Second Data: @Model.B</h2>
        </div>
    </div>
    <div class="row">
        <div>
            <h4>Result : @Model.Result</h4>
        </div>
    </div>
    
    
    
    

</div>

