
@{
    Layout = "_Layout";
}



<div class="container">
    <div class="row m-3">
        <a class="btn btn-primary" asp-action="Panel_XML_LINQ">XML Linq </a>
    </div>
     <div class="row m-3">
        <a class="btn btn-primary" asp-action="PanelXML">XML Object</a>
    </div>
    <div class="row m-3">
        <a class="btn btn-secondary" asp-action="PanelXML2">XML Object 2</a>
    </div>
    <div class="row m-3">
        <a class="btn btn-primary" asp-action="Panel_JSON_LINQ">JSON Linq</a>
    </div>
    <div class="row m-3">
        <a class="btn btn-secondary" asp-action="Panel">JSON Obj</a>
    </div>

</div>